<!-- Jumbotron -->
<div class="container contact-page">
  <div class="jumbotron">
    <h1>Want to get more involved?</h1>
    <%= Textfile.content_for("more_info_page") %>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <h2>Current Indianapolis Public Transportation</h2>
      <p>[Links to be inserted]</p>
    </div>
    <div class="col-md-4 col-lg-4">
      <h2>Public Awareness Groups/Organizations</h2>
      <p>[Links to be inserted]</p>
   </div>
    <div class="col-md-4 col-lg-4 suggestions">
      <h2>What other public transit data would you like to see?</h2>
      <%= Textfile.content_for("suggestions") %>
      <h4>For general suggestions:</h4>
        <div class="row email-address">
          <div class="col-md-6 col-lg-6">
            <p>Send me an email: </p>
          </div>
          <div class="col-md-6 col-lg-6">
            <%= mail_to(Textfile.content_for("email_address")) %>
          </div>
        </div>
        <div class="row twitter-account">
          <div class="col-md-6 col-lg-6">
            <p>Follow me on Twitter: </p>
          </div>
          <div class="col-md-6 col-lg-6">
            <%= Textfile.content_for("twitter_account") %>
        </div>
      </div>
      <h4>For developers interested in this project:</h4>
      <div class="row github-repo">
        <div class="col-md-6 col-lg-6">
          <p>GitHub repository: </p>
        </div>
        <div class="col-md-6 col-lg-6">
          <%= link_to "TransitSurvey", "https://github.com/mldenne/TransitSurvey", target: "_blank"  %>
        </div>
      </div>
    </div>
  </div>
</div>
