<div class="container">
  <div class="jumbotron">
    <h2>Here are your weekly commute stats:</h2>
    <p>Given a 5 day workweek with 2 trips per day:</p>
    <p>You drive <%= commute.distance_per_day %> miles per day, for a total of <%= commute.distance_per_week %> miles per week.</p>
    <p>This means you are spending <%= commute.drive_minutes_per_week %> minutes or <%= commute.drive_hours_per_week %> hours commuting in your car every week.</p>
    <p>And what does this cost you, according to the IRS 2016 Standard Mileage Rates for Business?</p>
    <p>At $0.54 per mile, approximately $<%= commute.drive_cost_per_week %> per week.</p>
    <%= link_to 'Calculate another route', new_commute_path, class: "btn btn-primary" %>
  </div>
</div>
