<div class="container">
  <div class="row">
    <div class="col-sm-2 left-sidebar-communities">
      <%= Textfile.content_for("left_sidebar_communities") %>
    </div>
    <div class="col-sm-10">
      <h2><center>What are your Neighbors' commutes?</center></h2>
      <h4><center>Compare and contrast your commuter stats with those around you!</center></h4>
      <p><center>Click on a city name to see a heatmap for the commuters within a 5-mile radius of a city's center.</center></p>
      <p><center>Would you like a file containing this information? Click here to <strong><%= link_to "Download a CSV", communities_path(format: "csv") %></strong></center></p>
      <div class="well communities-scroll">
        <table class="table communities-results">
          <thead>
            <tr>
              <th>City</th>
              <th><center>Commuters</center></th>
              <th><center>Average Commute</center></th>
              <th style="text-align:right">Average Weekly Cost</th>
              <th style="text-align:right">Total Weekly Cost</th>
              <th style="text-align:right">Average Annual Cost</th>
              <th style="text-align:right">Total Annual Cost</th>
            </tr>
          </thead>
          <tbody>
            <% @communities.each do |community| %>
              <% if community.commuters_within_range_count > 0 %>
              <tr>
                  <td><%= link_to community.city, community %></td>
                  <td><center><%= community.commuters_within_range_count %></center></td>
                  <td><center><%= community.average_commuter_miles.round(1) %></center></td>
                  <td style="text-align:right"><%= number_to_currency(community.average_commuter_drive_cost_per_week) %></td>
                  <td style="text-align:right"><%= number_to_currency(community.total_commuter_drive_cost_per_week) %></td>
                  <td style="text-align:right"><%= number_to_currency(community.average_commuter_drive_cost_per_year) %></td>
                  <td style="text-align:right"><%= number_to_currency(community.total_commuter_drive_cost_per_year) %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
