<!DOCTYPE html>
<html>
  <head>
    <title>TransitSurvey</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= Rails.env %>">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <a><%= link_to "Indianapolis Public Transit Survey", root_path, class: "navbar-brand" %> </a>
      </nav>
    </div>
    <div class="container">
      <div class="row">


      <%= yield %>

        <div class="col-sm-2">
          <div class="btn-group-vertical">
            <%= link_to "Take the Transit Survey", new_commute_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="navbar-brand navbar-left">
              <a class="footer-links" href="#">Add in image tag for Iron Yard</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="navbar-brand navbar-right">
              <a class="footer-links" href="#">Marie Denney</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
