<!DOCTYPE html>
<html>
  <head>
    <title>TransitSurvey</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom CSS -->
    <link href="assets/full-slider.css" rel="stylesheet">
    <link href="assets/rrssb.css" rel="stylesheet"/>

  </head>

  <body class="<%= Rails.env %>">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to "Indy Public Transit Survey", root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Take the Survey", new_commute_path, { 'data-remote' => false, 'data-toggle' => "modal", 'data-target' => "#TransitSurveyModal" } %>
            </li>
            <li>
              <%= link_to "Communities", communities_path %>
            </li>
            <li>
                <a href="#">Districts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div class="modal fade" id="TransitSurveyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <%= render 'commutes/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col-md-6">
          <div class="navbar-brand navbar-left">
            <a class="footer-links" href="#">Add in image tag for Iron Yard</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="navbar-brand navbar-right">
            <a class="footer-links" href="#">Marie Denney</a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

  </body>
</html>
