<!DOCTYPE html>
<html>
  <head>
    <title>TransitSurvey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="<%= Rails.env %>"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="root_path">Indianapolis Transit Survey</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
