<!DOCTYPE html>
<html>
  <head>
    <title>TransitSurvey</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= Rails.env %>">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="root_path">Indianapolis Public Transit Survey</a>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 left-sidebar">
          <p>Global South, affordable health care, respond save lives pride harness. Foster fluctuation beneficiaries healthcare, human potential development making progress. Altruism mobilize activist replicable social analysis. Natural resources human-centered design, education, public sector democracy, Bill and Melinda Gates research Action Against Hunger treatment implementation. Immunize, resolve connect experience in the field aid medical.</p>

          <p>World problem solving; economic security volunteer conflict resolution working families countries. Global citizens fundraise plumpy'nut synthesize fairness. Participatory monitoring; community health workers committed, recognize potential elevate accelerate progress scalable evolution working alongside change-makers. Local solutions Gandhi lasting change agriculture civil society; informal economies time of extraordinary change improving quality rural contribution. Our grantees and partners donate political activism; eradicate new approaches challenges of our times shifting landscape combat HIV/AIDS policy dialogue.</p>

          <p>Courageous policymakers; emergent humanitarian agency, donation advancement; integrity social responsibility citizenry catalyze inspiration disruptor. Combat malaria voice board of directors disruption international Aga Khan peaceful safety. Freedom, raise awareness social, urban; Angelina Jolie reproductive rights frontline Bono. Invest, non-partisan respect impact medical supplies UNICEF lifting people up. Local; stakeholders billionaire philanthropy, empowerment Jane Jacobs, vaccines resourceful; turmoil globalization; microloans network, Bloomberg recognition minority.</p>
        </div>
        <div class="col-sm-7">
          <%= yield %>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="navbar-brand navbar-left">
              <a class="footer-links" href="#">Add in image tag for Iron Yard</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="navbar-brand navbar-right">
              <a class="footer-links" href="#">Marie Denney</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
